<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 Team Name:<%= "#{@rams[":name"]}" %><br>
 Coach:<%= "#{@rams[":coach"]}" %><br>
 point guard <%= "#{@rams[":pg"]}" %><br>
 shooting guard <%= "#{@rams["sg"]}" %><br>
 smasll forward <%= "#{@rams["sf"]}" %><br>
 power forward <%= "#{@rams["pf"]}" %><br>
 center <%= "#{@rams["c"]}" %><br>
 </body>
</html>
