<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 team name <%= "#{@rams[":team_name"]}" %><br>
 point guard<%= "#{@rams[":point_guard"]}" %><br>
 shooting guard<%= "#{@rams[":shooting_guard"]}" %><br>
 smasll forward<%= "#{@rams[":small_forward"]}" %><br>
 power forward<%= "#{@rams[":power_forward"]}" %><br>
 center <%= "#{@rams[":center"]}" %><br>
 </body>
</html>
